/* Login.css */
body {
    background-color: #0a192f; /* Dark Blue */
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  input, select {
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
  }
  
  input::placeholder {
    color: #0a0505;
  }
  
  button {
    background-color: #16477c; /* Dark Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-5px); /* Moves up */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Increases shadow */
}

button:active {
    transform: translateY(2px); /* Moves down when pressed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduces shadow */
}


  a {
    color: #4da8da;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .field{
    color: black;
  }